<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_chat.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script type="text/javascript" defer src="{{ url_for('static', filename='app-chatbot.js') }}"></script>
    <!-- <script type="text/javascript" defer src="{{ url_for('static', filename='app-chatbot2.js') }}"></script> -->
    <script defer src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Helpy | Chat me!</title>
</head>

<body>
    <!-- LOADING HERE -->
    <div id="loading" data-isloading="true" style="background-color:#c3c3c3; width:100vw; height:500vh;">
        <div>
            <img class="sanitybot_img spinner" src="{{ url_for('static', filename='/images/loading.svg') }}" alt="logo">
        </div>
    </div>
    <div id="loading1" data-isloading="true" style="background-color:#c3c3c3; width:100vw; height:500vh; display:none;">
        <div>
            <img class="sanitybot_img spinner" src="{{ url_for('static', filename='/images/loading2.svg') }}"
                alt="logo">
        </div>
    </div>
    <div id="loading2" data-isloading="true" style="background-color:#c3c3c3; width:100vw; height:500vh; display:none;">
        <div>
            <img class="sanitybot_img spinner" src="{{ url_for('static', filename='/images/loading3.svg') }}"
                alt="logo">
        </div>
    </div>


    <div style="height: 100vh; background-image: url('static/images/header.svg');">

        <header>
            <div class="container">


                <div class="overlay"></div>

                <div class="hamburger">
                    <div class="bar"></div>
                </div>

            </div>
        </header>



        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div type="button" class="icon" id="hide-modal">
                        {% if data.user.is_assess %}
                        <a href="{{ url_for('views.home') }}"><i class="fa fa-times"></i></a>
                        {% else %}
                        <a href="#" id="show-modal"><i class="fa fa-times"></i></a>
                        {% endif %}
                    </div>
                    <div class="chatbox__image--header">
                    </div>
                    <div class="chatbox__content--header">
                    </div>
                    <!-- chatbot -->
                    <div>
                        <div class="modal">
                            <div class="modal-box">
                                <!-- <div class="modaltext">
                                    
                                </div> -->
                                <img class="logo_img1" src="{{ url_for('static', filename='/images/modalhelpy.svg') }}"
                                    alt="logo">
                                <h3 class="modaltext">Hello there! Are you sure you don't have any 
                                    questions before you leave?</h3>
                                    

                                <div style="display: inline-flex; gap: 50%; margin-bottom: 30%;">
                                        
                                        
                                        <a href="http://localhost/econsultation_new/user/index.php"
                                        class="btn_yes_no btn_yes btn_form">Yes</a>
                                        <a onclick="toggleChatPreset(false)" class="btn_yes_no btn_no btn_form">No</a>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end chatbot -->
                </div>
                <div class="chatbox__messages">
                    <div class="messages__item messages__item--visitor">Hi. I'am Helpy. You may ask me anything about
                        your thoughts, and I'll listen to you to ensure you can feel better.

                    </div>
                    <div></div>
                </div>
                <div class='chat_preset'>
                    <div class='preset-chat'>As much as I always could</div>
                    <div class='preset-chat'>Not quite so much now</div>
                    <div class='preset-chat'>Definitely not so much now</div>
                    <div class='preset-chat'>Not at all</div>
                </div>
                <div class='chat_input'>
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                    </button>

                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='/images/chatbox-icon.svg') }}" /></button>
            </div>
        </div>
    </div>
    <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson }};
        $(document).ready(function () {
            $('#show-modal').on('click', function () {
                $('.modal').css({ 'visibility': 'visible', 'opacity': '1' });
            });
            $('.modal .modal-box .icon i').on('click', function () {
                $('.modal').css({ 'visibility': 'hidden', 'opacity': '0' });
            });
        }); 
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- <script src="../static/app-chatbot.js"></script> -->
    <script>
        $(document).ready(function () {
            $('#show-modal').on('click', function () {
                $('.modal').css({ 'visibility': 'visible', 'opacity': '1' });
            });
            $('.modal .modal-box .icon i').on('click', function () {
                $('.modal').css({ 'visibility': 'hidden', 'opacity': '0' });
                clearAll();
            });
            $('.btn_yes_no').on('click', function () {
                $('.modal').css({ 'visibility': 'hidden', 'opacity': '0' });
                clearAll();
            });
        }); 
    </script>
    <!-- LOADING HERE -->
    <script>
        const loadingElements = document.querySelectorAll("[data-isloading=true]");
        let index = 0;

        function showLoadingImage() {
            if (index >= loadingElements.length) {
                // hide all loading images if last image is shown
                loadingElements.forEach((element) => {
                    element.style.display = "none";
                });
                return;
            }

            // hide previous image
            if (index > 0) {
                loadingElements[index - 1].style.display = "none";
            }

            // show current image
            loadingElements[index].style.display = "block";

            index++;
        }

        // show first image immediately
        showLoadingImage();

        // show next image after 5 seconds
        setInterval(showLoadingImage, 500);


    </script>

</body>


</html>