<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_chat.css') }}" />
    <script type="text/javascript" defer src="{{ url_for('static', filename='app-chat.js') }}"></script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script defer>
        $SCRIPT_ROOT = {{ request.script_root | tojson }};
        $(document).ready(function () {
            $('#show-modal').on('click', function () {
                $('.modal').css({ 'visibility': 'visible', 'opacity': '1' });
            });
            $('.modal .modal-box .icon i').on('click', function () {
                $('.modal').css({ 'visibility': 'hidden', 'opacity': '0' });
            });
        }); 
    </script>
</head>

<body>
    <div style="height: 100vh;">

        <header>
            <div class="container">
                <div class="logo">
                    <img class="logo_img" src="{{ url_for('static', filename='/images/robot_logo.svg') }}" alt="logo">
                    <h3>SanityBot</h3>
                </div>
                <button class="toggle-btn">
                    <i class='bx bxs-moon'></i>
                    <i class='bx bxs-sun'></i>
                </button>
                <div class="links">
                    <ul class="main">
                        <li><a href="{{ url_for('views.home') }}" style="color:#46A2FF">Home</a></li>
                        <li><a href="{{ url_for('views.duedate') }}">Sanity</a></li>
                        <li><a href="{{ url_for('views.profile') }}">Features</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    </ul>
                    <ul>
                        <li><a href="{{ url_for('views.profile') }}">{{ user.firstname }} {{ user.lastname }}</a></li>
                    </ul>
                </div>

                <div class="overlay"></div>

                <div class="hamburger">
                    <div class="bar"></div>
                </div>

            </div>
        </header>

        <div>
            
        </div>

        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="{{ url_for('static', filename='/images/bot-ic.png') }}" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <p class="chatbox__description--header">Ready to assist you during your pregnancy.</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div class="messages__item messages__item--visitor">Hi there! 👋 I'm SanityBot. I am here to
                        guide and answer your questions during pregnancy. Can you tell me what can i do for you? 😊
                    </div>
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='/images/chatbox-icon.svg') }}" /></button>
            </div>
        </div>
    </div>
</body>

</html>