<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_chat.css') }}" />
    <script type="text/javascript" defer src="{{ url_for('static', filename='app-chat.js') }}"></script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>SanityBot | Talk to Sanity</title>
</head>

<body>
    <div style="height: 100vh;">

        <header>
            <div class="container">
                <div class="logo">
                    <img class="logo_img" src="{{ url_for('static', filename='/images/robot_logo.svg') }}" alt="logo">
                    <h3>SanityBot</h3>
                </div>
                <div class="links">
                    <ul class="main">
                        <li><a href="{{ url_for('views.home2') }}">Home</a></li>
                        <li><a href="{{ url_for('views.sanity') }}">Sanity</a></li>
                        <li><a href="{{ url_for('views.aboutpostpartum') }}">Postpartum</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    </ul>
                    <ul>
                        <li><a href="{{ url_for('views.profile') }}">{{ data.user.firstname }} {{ data.user.lastname }}</a></li>
                    </ul>
                </div>

                <div class="overlay"></div>

                <div class="hamburger">
                    <div class="bar"></div>
                </div>

            </div>
        </header>



        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="{{ url_for('static', filename='/images/robot_logo.svg') }}" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h1 class="chatbox__description--header">I will make you feel heard.</h1>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div class="messages__item messages__item--visitor">Have you been capable of finding humor and laughing about situations?
                    </div>
                    <div class="messages__item messages__item--visitor">Hi there! I'm SanityBot. I'm here to make you feel heard. Please try to answer my questions honestly for me to have maternal attachment with you. Thank you!
                    </div>
                    <div></div>
                </div>
                <div class='chat_preset'>
                    <div class='preset-chat'>As much as I always could</div>
                    <div class='preset-chat'>Not quite so much now</div>
                    <div class='preset-chat'>Definitely not so much now</div>
                    <div class='preset-chat'>Not at all</div>
                </div>
                <div class='chat_input'>
                    <input type="text" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='/images/chatbox-icon.svg') }}" /></button>
            </div>
        </div>
    </div>
    <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson }};
        $(document).ready(function () {
            $('#show-modal').on('click', function () {
                $('.modal').css({ 'visibility': 'visible', 'opacity': '1' });
            });
            $('.modal .modal-box .icon i').on('click', function () {
                $('.modal').css({ 'visibility': 'hidden', 'opacity': '0' });
            });
        }); 
    </script>
</body>


</html>