<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_duedate.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SanityBot | Sanity</title>
  </head>
  <body>
    <main>

       <!-- landingpage -->
       <div class="wrapper light">
        <header>

          
          
          <div class="container">
            <div class="logo">
              <img class="logo_img" src="{{ url_for('static', filename='/images/robot_logo.svg') }}" alt="logo">
              <h3>SanityBot</h3>
            </div>
                <button class="toggle-btn">
                  <i class='bx bxs-moon'></i>
                  <i class='bx bxs-sun' ></i>
                </button>
            <div class="links">
              <ul class="main">
                <li><a href="{{ url_for('views.home') }}" >Home</a></li>
                <li><a href="{{ url_for('views.duedate') }}"style="color:#46A2FF">Sanity</a></li>
                <li><a href="{{ url_for('views.profile') }}">Features</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
              </ul>
              <ul>
                <li><a href="{{ url_for('views.profile') }}">{{ user.firstname }} {{ user.lastname }}</a></li>
              </ul>
            </div>

            <div class="overlay"></div>

            <div class="hamburger">
              <div class="bar"></div>
            </div>

          </div>
        </header>

        <div class="content-area">
          <div class="container">
            <div class="left">
              <div class="title">
                <h3>Are you not happy</h3>
                <h3>talking to</h3>
                <h1>Sanity?</h1>
              </div>
              <p class="text">
                An Artificial Intelligence Chatbot that helps you in 
                your psychological, emotional and social well-being. 
                Sanity makes you feel heard.
              </p>

              <div>
                <a href="#" class="btn_form">Start a new conversation</a>
              </div>

            </div>

            <div class="right">
              <img src="{{ url_for('static', filename='/images/homepage.svg') }}" alt="Image" class="preggy">
            </div>

          </div>
        </div>
        <!-- landing page end -->

           
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='duedate.js') }}"></script>
    <script>
      $(document).ready(function(){
			$('#show-modal').on('click', function(){
				$('.modal').css({'visibility': 'visible', 'opacity': '1'});
			});
			$('.modal .modal-box .icon i').on('click', function(){
				$('.modal').css({'visibility': 'hidden', 'opacity': '0'});
        clearAll();
			});
		}); 
      </script>

  </body>
</html>
