<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_chatbot.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SanityBot | Home</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert-error" role="alert">
        {{ message }}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      </div>
      {% else %}
      <div class="alert-success" role="alert">
        {{ message }}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
    <main>
       <!-- landingpage -->
       <div class="wrapper light">
        <header>

          
          
          <div class="container">
            <div class="logo">
              <img class="logo_img" src="{{ url_for('static', filename='/images/robot_logo.svg') }}" alt="logo">
              <h3>SanityBot</h3>
            </div>
                <button class="toggle-btn">
                  <i class='bx bxs-moon'></i>
                  <i class='bx bxs-sun' ></i>
                </button>
            <div class="links">
              <ul class="main">
                <li><a href="{{ url_for('views.home') }}"style="color:#46A2FF">Home</a></li>
                <li><a href="{{ url_for('views.duedate') }}">Sanity</a></li>
                <li><a href="{{ url_for('views.profile') }}">Features</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
              </ul>
              <ul>
                <li><a href="{{ url_for('views.profile') }}">{{ user.firstname }} {{ user.lastname }}</a></li>
              </ul>
            </div>

            <div class="overlay"></div>

            <div class="hamburger">
              <div class="bar"></div>
            </div>

          </div>
        </header>

        <div class="content-area">
          <div class="container">
            <div class="left">
              <div class="title">
                <h3>Start talking with</h3>
                <h1>SanityBot</h1>
              </div>
              <p class="text">
                An Artificial Intelligence Chatbot that helps you in 
                your psychological, emotional and social well-being. 
                Sanity makes you feel heard. 
              </p>

              <!-- modal -->
              <div>
                <a href="#" class="btn_form" id="show-modal">Talk to Sanity</a>
                <div class="modal">
                  <div class="modal-box">
                    <div class="icon">
                      <i class="fa fa-times"></i>
                    </div>
                   
                    
                  </div>
                </div>
              </div>

              <!-- end modal -->
            </div>

            <div class="right">
              <img src="{{ url_for('static', filename='/images/homepage.svg') }}" alt="Image" class="preggy">
            </div>

          </div>
        </div>
        <!-- landing page end -->

            <!-- chatbot window -->
          <div class="container">
            <div class="chatbox">
                <div class="chatbox__support">
                    <div class="chatbox__header">
                        <div class="chatbox__image--header">
                            <img src="{{ url_for('static', filename='/images/bot-ic.png') }}" alt="image">
                        </div>
                        <div class="chatbox__content--header">
                            <h4 class="chatbox__heading--header">PreggyBot</h4>
                            <p class="chatbox__description--header">Ready to assist you during your pregnancy.</p>
                        </div>
                    </div>
                    <div class="chatbox__messages">
                       <div class="messages__item messages__item--visitor">Hi there! 👋 I'm Preggybot. I am here to guide and answer your questions during pregnancy. Can you tell me what can i do for you? 😊 </div>
                        <div></div>
                    </div>
                    <div class="chatbox__footer">
                        <input type="text" placeholder="Write a message...">
                        <button class="chatbox__send--footer send__button">Send</button>
                    </div>
                </div>
                <div class="chatbox__button">
                    <button><img src="{{ url_for('static', filename='/images/chatbox-icon.svg') }}" /></button>
                </div>
            </div>
        </div>
        <!-- chatbot window end -->

      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
      $SCRIPT_ROOT = {{ request.script_root|tojson }};
      $(document).ready(function(){
			$('#show-modal').on('click', function(){
				$('.modal').css({'visibility': 'visible', 'opacity': '1'});
			});
			$('.modal .modal-box .icon i').on('click', function(){
				$('.modal').css({'visibility': 'hidden', 'opacity': '0'});
			});
		}); 
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app-chatbot.js') }}"></script>
  </body>
</html>
