<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_chatbot.css') }}" />
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>SanityBot | Home</title>
</head>

<body>
  <!-- LOADING HERE -->
  <div id="loading" data-isloading="true" style="background-color:#c3c3c3; width:100vw; height:100vh;">
    <div style="position:absolute; top:25%; right:50%; transform:translate(50%, -50%); z-index:100; ">
      <img class="sanitybot_img" src="{{ url_for('static', filename='/images/sanitybot_logo.svg') }}" alt="logo">
      <h2 class="tagline">An AI chatbot that makes you feel heard</h2>
    </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if
  messages %} {% for category, message in messages %} {% if category ==
  'error' %}
  <div class="alert-error" role="alert">
    {{ message }}
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
  {% else %}
  <div class="alert-success" role="alert">
    {{ message }}
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}
  
  <main>
    <!-- landingpage -->
    <div class="wrapper light">
      <header>
        <div class="container">
          <div class="logo">
            <img class="logo_img" src="{{ url_for('static', filename='/images/robot_logo.svg') }}" alt="logo">
            <h3>SanityBot</h3>
          </div>
          <div class="links">
            <ul class="main">
              <li><a href="{{ url_for('views.home') }}" style="color:#46A2FF">Home</a></li>
              <li><a href="{{ url_for('views.sanity') }}">Sanity</a></li>
              <li><a href="{{ url_for('views.aboutpostpartum') }}">Postpartum</a></li>
              <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>
            <ul>
              <li class="dropdown">
                <a href="#">{{ user.firstname }} {{ user.lastname }}</a>
                <div class="dropdown-content">
                  <a href="{{ url_for('views.profile') }}">View Profile</a>
                  <a class="toggle-btn">Dark Mode</a>
                  <a href="{{ url_for('auth.logout') }}">Logout</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="overlay"></div>
          <div class="hamburger">
            <div class="bar"></div>
          </div>
        </div>
      </header>

      <div class="content-area">
        <div class="container">
          <div class="left">
            <div class="title">
              <h3>Start talking with</h3>
              <h1>SanityBot</h1>
            </div>
            <p class="text">
              An Artificial Intelligence Chatbot that helps you to
              openly share your feelings, thoughts, and behaviors
              with the use of digital mental health counseling as
              well as psychotherapy.
            </p>

            <!-- chatbot -->
            <div>
              {% if user.is_assess %}
              <a href="{{ url_for('views.chat') }}" class="btn_form">Talk to Sanity</a>
              {% else %}
              <a href="#" class="btn_form" id="show-modal">Talk to Sanity</a>
              {% endif %}

              <div class="modal">
                <div class="modal-box">
                  <div type="button" class="icon" id="hide-modal">
                    <i class="fa fa-times"></i>
                  </div>
                  <img class="logo_img1" src="{{ url_for('static', filename='/images/robot_logo.svg') }}" alt="logo">
                  <div class="modaltext">
                    Hello There! I am Sanity, your AI friend. I hope you'll find joy talking to me. Thank you!
                  </div>
                  <a href="{{ url_for('views.chat') }}" class="btn_form">Okay</a>
                </div>
              </div>
            </div>
            <!-- end chatbot -->

          </div>
          <div class="right">
            <img src="{{ url_for('static', filename='/images/homepage.svg') }}" alt="Image" class="sanity">
          </div>
        </div>
      </div>
      <!-- landing page end -->
    </div>
  </main>
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="../static/app-chatbot.js"></script>
  <script>
    $(document).ready(function () {
      $('#show-modal').on('click', function () {
        $('.modal').css({ 'visibility': 'visible', 'opacity': '1' });
      });
      $('.modal .modal-box .icon i').on('click', function () {
        $('.modal').css({ 'visibility': 'hidden', 'opacity': '0' });
        clearAll();
      });
    }); 
  </script>

  <!-- LOADING HERE -->
  <script>
    isLoaded = false;
    const loadingElement = document.querySelector("#loading");

    if (!isLoaded) {
      if (loadingElement.getAttribute("data-isloading") === "true") {
        setTimeout(() => { loadingElement.style.display = "none"; }, 500)
      }
      isLoaded = true;
    }

  </script>
  <script>
  
  $(document).ready(function() {
    $('.dropdown').click(function() {
      $(this).children('.dropdown-content').toggle();
    });

    $(document).click(function(event) {
      if (!$(event.target).closest('.dropdown').length) {
        $('.dropdown-content').hide();
      }
    });
  });
  
  </script>
</body>

</html>