<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style_dashboard.css') }}">
</head>

<body>

    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="las la-clinic-medical"></span> <span>Preggybot</span></h2>
        </div>
        <!--Secciones-del-tablero-->
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="{{ url_for('views.dashboard') }}" class="active"><span class="las la-home"></span>
                    <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="{{ url_for('views.admin_profile') }}" ><span class="las la-user"></span>
                    <span>Manage Account</span></a>
                </li>
                <li>
                    <a href="{{ url_for('views.admin_patients') }}"><span class="las la-book-medical"></span>
                    <span>Patient Informations</span></a>
                </li>
                <li>
                    <a href="{{ url_for('auth.adminlogout') }}"><span class="las la-sign-out-alt"></span>
                    <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label> Dashboard
            </h2>

            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search" name="search" />
            </div>
            <div class="user-wrapper">
                <div>
                    <h4>Administrator</h4>
                    <small>admin</small>
                </div>
            </div>
        </header>

        <main>
            <div class="cards">

                <div class="card-single">
                    <div>
                        <h1>{{users|length}}</h1>
                        <span>Patient Management</span>
                    </div>
                    <div>
                        <span class="las la-wheelchair"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>{{mild}}</h1>
                        <span>Mild State</span>
                    </div>
                    <div>
                        <span class="lab la-wpforms"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>{{intensive}}</h1>
                        <span>Intensive Care State</span>
                    </div>
                    <div>
                        <span class="lab la-wpforms"></span>
                    </div>
                </div>
            </div>
            
            <!--Table-->
            <div class="recent-grid">
                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h3>Patient's Health Report</h3>

                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>Name</td>
                                            <td>Middlename</td>
                                            <td>Lastname</td>
                                            <td>Address</td>
                                            <td>Contact Number</td>
                                            <td>Date Submitted</td>
                                            <td>Condition</td>
                                            <td>State</td>
                                            
                                           
                                            
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for user in users %}
                                        <tr>
                                            <td>{{user.id}}</td>
                                            <td>{{user.firstname}}</td>
                                            <td>{{user.middlename}}</td>
                                            <td>{{user.lastname}}</td>
                                            <td>{{user.address}}</td>
                                            <td>{{user.contact}}</td>
                                            <td>{{user.date_submitted}}</td>
                                            <td>{{user.condition}}</td>
                                            

                                            <td>
                                                {% if user.state == 'Mild' %}
                                                <span class="status green"></span> {{user.state}}
                                                {% else %}
                                                <span class="status red"></span> {{user.state}}
                                                {% endif %}
                                            </td>
                                          
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

               
                    </div>
                </div>
                
            </div>
        </main>

    </div>

</body>

</html>