<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" />
  <title>Preggybot</title>
</head>

       
<body>
         <!-- Welcome Page -->
        <form action="" method="POST" class="sign-in-form">
          <img class="welcomeback_img" src="{{ url_for('static', filename='/images/welcomeback.svg') }}" alt="logo">
          <p class="welcomeback_line">I know you are coming back. Thankyou for trusting 
            me. I will help you with your problems because I’am 
            Sanity, your AI friend. </p>
</body>
</html>